<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>para meu amor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Lateral Esquerda com Botões -->
        <div class="sidebar">
            <button onclick="window.location.href='/fotos1'">Junho/Julho</button>
            <button onclick="window.location.href='/fotos3'">Agosto</button>
            <button onclick="window.location.href='/fotos4'">Setembro</button>
            <button onclick="window.location.href='/fotos5'">Outubro</button>
        </div>
        
        <!-- Texto Central -->
        <div class="content">
            <h1>Marina, você me motiva a viver!!</h1>
            <p>Amor, aqui vai um presentinho para nós de todos os finais de semanas reunidos!!</p>
            <p>
                Eu amo cada momento que passamos juntos, e este site é apenas uma pequena forma de expressar o quanto você significa para mim. 
            </p>
            <p>
                Nossas histórias, nossos risos e nossas conquistas, tudo isso me faz ter certeza de que encontrei a pessoa certa para compartilhar minha vida.
            </p>
            <p>
                Mal posso esperar por todos os momentos incríveis que ainda vamos viver. Você é o meu tudo, e cada detalhe dessa jornada ao seu lado tem sido perfeito.
            </p>
            <p>
                Eu fiz esse site como uma lembrança do nosso amor, um lugar onde podemos guardar memórias e celebrar quem somos juntos.
            </p>
        </div>
    </div>
</body>
</html>